body {
    font-size: 10px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }

h1,h3{
    text-transform: uppercase;
    color: #de8971
}
h2{
    font-family: 'Reenie Beanie', cursive;
    color: #424642;
}
.main-weather h2{
    font-size: 3rem;
}
h3{
    font-size: 1.2rem;
}
h4{
    font-size: 1.5rem;
    color: #424642;
    text-decoration: overline;
}

p, span{
    font-size: 15px;
    color: #687980;
}   
a.navbar-brand{
    font-size: 1.5rem;
}
a .fab, a .fas{
    color: #424642;
    text-decoration: none;
}

.navbar-brand{
    font-family: 'Reenie Beanie', cursive;
    color: #de8971;
    font-size: 2rem;
    padding-left: 50px;
}

.go-back{
    text-decoration: none;
    text-align: right;
    color: #de8971;
    padding-left: 50px;
}
.go-back:hover{
    color: #687980
}

.weather-title{
    text-align: center;
}
h1.title{
    padding: 10px 0 50px;
}
.brand{
    padding: 10px;
}
main{
    padding: 50px 0 150px;
}
form {
    padding: 20px;
}

main form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  main form > * {
    height: 36px;
  }
  
  main form input[type="submit"] {
    border: 1px solid #de8971;
    background-color: transparent;
    font-family: inherit;
    border-radius: 0 5px 5px 0;
    border-left: 0;
  }
  
  main form input[type="submit"]:hover,
  main form input[type="submit"]:active {
    background-color: #de8971;
    color: #f2f2f2;
  }
  
  main form select {
    border: 1px solid #de8971;
    border-radius: 5px 0 0 5px;
    padding-left: 10px;
  }
  .main-weather{
    display: inline-block;
    padding: 5px 0 50px;
  }
  .weather-icon{
    vertical-align: top;
  }
  .weather-icon-forecast{
    width: 10%;
    vertical-align: middle;
  }
  .weather-description{
    font-size: 1rem;
    display: inline-block;
}


 
  .weather-card {
      background-color: #e7e7de;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    width: 85%;
    font-size: 1.4rem;
    margin: auto;
    margin-bottom: 50px;
  }
  .weather-card.today{
      width: fit-content;
  }
  .weather-card > div {
    /*     display: flex;
   */
    text-align: left;
    align-items: center;
  }
  .weather-today h3 {
    text-align: center;
    padding-bottom: 30px;
}

  /*Footer*/


.icon-footer{
    padding: 10px;
}

.copyright{
    padding: 2%;
}
fab{
    text-decoration: none;
}

footer{
    padding-top: 70px;
    text-align: center;
}
